window#waybar {
    color: #d9d9d9;
    background-color: transparent;

    transition: opacity 0.2s;
}

window#waybar.hidden {
    opacity: 0.0;
}

window#waybar>box {
    border-radius: 5px;
    margin: 10px 10px 10px 10px;

    background-position: top;
    background-size: cover;
    background-image: url('/home/stevendoesstuffs/Important/Misc/Wallpapers/bar.jpg');

    box-shadow: rgba(0, 0, 0, 1.0) 0px 2px 3px 0px;
}

#battery.discharging.warning {
    color: #e6bb73;
}

#battery.discharging.critical {
    color: #e65045;
}

#battery.charging {
    color: #77d99d;
}